@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'TT Commons';
    src: url('/assets/fonts/TT Commons Medium.otf') format('opentype'),
        url('/assets/fonts/TT Commons Bold.otf') format('opentype'),
        url('/assets/fonts/TT Commons Regular.otf') format('opentype'),
    ;
    font-style: normal;
}

body {
    font-family: 'TT Commons', sans-serif;
}

/* Enable 3D transform */
.transform-style-3d {
    transform-style: preserve-3d;
}

.preserve-3d {
    transform-style: preserve-3d;
}

.backface-hidden {
    backface-visibility: hidden;
}

.flip .transform {
    transform: rotateY(180deg);
}

/* Front and back face of the card */
.rotate-y-180 {
    transform: rotateY(180deg);
}